<!doctype html>  
<html lang="en">
	
	<head>
		<meta charset="utf-8">
		
		<title>Capture Art</title>

		<meta name="description" content="Capture Art">
		<meta name="author" content="Seth Epstein">

		<meta name="viewport" content="width=800, user-scalable=no">
		
		<link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
		
		<link rel="stylesheet" href="demo.css">
	</head>
	
	<body>

		<div class="meny">
			<br>
			<%= image_tag 'capture-art-newfont.png', :width =>'200px'%>
		<br>
		<br>
		
		<h2>Photography</h2>
				<li><a href="#">Chicago</a></li>
				<li><a href="#">Miami</a></li>
				<li><a href="#">San Francisco</a></li>
				<li><a href="#">Los Angeles</a></li>
		<br>
		<h2>Illustration</h2>
		<li><a href="#">Ghetto of Athens</a></li>
		<li><a href="#">Tigerstyle</a></li>
		<li><a href="#">Glowstix</a></li>
		<li><a href="#">Wild Style</a></li>
		</div>

		<div class="meny-arrow"></div>

		<div class="contents">
			<article>
			<div>
					<meta charset="utf-8" />
					<meta name="author" content="" />
					<meta name="description" content="" />

					<title>jQuery.parallax</title>

					<script>document.documentElement.className = 'js';</script>

					<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
					<!-- Force latest IE rendering engine & Chrome Frame -->
					<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
					<!-- Make IE recognise HTML5 elements for styling -->
					<!--[if lte IE 8]>
					<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
					<noscript>
						<strong>Warning!</strong>
						Your browser does not support HTML5 so some elements on this page are simulated using JScript. Unfortunately your browser has JScript disabled. Please enable it in order to display this page.
					</noscript>
					<![endif]-->
					<!-- Disable image toolbar in IE6 -->
					<!--[if lte IE 6]><meta http-equiv="imagetoolbar" content="no" /><![endif]-->

					<link rel="icon" type="image/png" href="favicon.png" />
					<link rel="apple-touch-icon" href="apple-touch-icon.png" />

					<link rel="stylesheet" type="text/css" href="template.min.css" />
					<link rel="stylesheet" type="text/css" href="http://stephband.info/css/template.theme.min.css" />

					<link rel="stylesheet" type="text/css" href="site.layout.css" />
					<link rel="stylesheet" type="text/css" href="http://stephband.github.com/css/docs.classes.css" />

					<!--[if (lt IE 9)&(!IEMobile)]>
					<link rel="stylesheet" href="http://stephband.info/css/template.layout.32em.css" media="all" />
					<link rel="stylesheet" href="http://stephband.info/css/template.layout.48em.css" media="all" />
					<![endif]-->
					<!--[if lte IE 8]><link rel="stylesheet" href="http://stephband.infocss/template.ie.css" /><![endif]-->
					<!--[if IE 8]><link rel="stylesheet" href="http://stephband.infocss/template.ie8.css" /><![endif]-->
					<!--[if IE 7]><link rel="stylesheet" href="http://stephband.infocss/template.ie7.css" /><![endif]-->
					<!--[if IE 6]><link rel="stylesheet" href="http://stephband.infocss/template.ie6.css" /><![endif]-->

					<link rel="stylesheet" href="jquery.parallax.css" />

				  <style type="text/css" media="screen, projection">
				    .parallax-viewport {
				      width: 100%;
				      max-width: 60em;
				      height: 20em;
				      background-color: #aebcc9;
				    }

				    .diagram {
				      margin-top: -0.75em;
				    }

					  small {
					    text-transform: uppercase;
					  }
					</style>

				</head>

				<body>
					
<%= image_tag 'capture-art-newfontz-SQ.png', :width =>'200px', :padding=>'40px 40px'%>
			
						
			

				    <div class="parallax-viewport" id="parallax">

				        <!-- parallax layers -->
				        <div class="parallax-layer" style="width:860px; height:273px;">
				            <%= image_tag "0000.png", :style=> "position:absolute; top:-50px; left:-50px" %>
				        </div>
				        <div class="parallax-layer" style="width:920px; height:274px;">
				            <%= image_tag "11.png"%>
				        </div>
				        <div class="parallax-layer" style="width:1100px; height:284px;">
					        <%= image_tag "2.png", :style=> "position:absolute; top:40px; left:0" %>
				        </div>
				        <div class="parallax-layer" style="width:1360px; height:320px;">
					        <%= image_tag "333.png", :style=> "position:absolute; top:36px; left:0" %>
				        </div>

				        <!-- Rounded corners -->
				        <img src="http://stephband.info/images/corner_white_tl.png" class="tl" />
				        <img src="http://stephband.info/images/corner_white_tr.png" class="tr" />
				        <img src="http://stephband.info/images/corner_white_bl.png" class="bl" />
				        <img src="http://stephband.info/images/corner_white_br.png" class="br" />
				    </div>
				
						</div>
					</footer>



				  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
				  <%= javascript_include_tag "jquery.event.frame.js" %> 
				  <%= javascript_include_tag "jquery.parallax.js" %> 
				  <script>
				  jQuery(document).ready(function(){
				    jQuery('#parallax .parallax-layer')
				    .parallax({
				      mouseport: jQuery('#parallax')
				    });
				  });
				  </script>
					<div class="site_wrap wrap">
</div>
<br>
<h1> Parallax Graffiti Demo </h1>
				
			<br>
			<br>
		</div>

	<%= javascript_include_tag "meny.min.js" %> 
		<script>
			// Create an instance of Meny
			var meny = Meny.create({
				// The element that will be animated in from off screen
				menuElement: document.querySelector( '.meny' ),

				// The contents that gets pushed aside while Meny is active
				contentsElement: document.querySelector( '.contents' ),

				// [optional] The alignment of the menu (top/right/bottom/left)
				position: Meny.getQuery().p || 'left',

				// [optional] The height of the menu (when using top/bottom position)
				height: 200,

				// [optional] The width of the menu (when using left/right position)
				width: 260,

				// [optional] Distance from mouse (in pixels) when menu should open
				threshold: 40
			});

			// API Methods:
			// meny.open();
			// meny.close();
			// meny.isOpen();
			
			// Events:
			// meny.addEventListener( 'open', function(){ console.log( 'open' ); } );
			// meny.addEventListener( 'close', function(){ console.log( 'close' ); } );

			// Embed an iframe if a URL is passed in
			if( Meny.getQuery().u && Meny.getQuery().u.match( /^http/gi ) ) {
				var contents = document.querySelector( '.contents' );
				contents.style.padding = '0px';
				contents.innerHTML = '<div class="cover"></div><iframe src="'+ Meny.getQuery().u +'" style="width: 100%; height: 100%; border: 0; position: absolute;"></iframe>';
			}
		</script>

		<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

	</body>
</html>